@use 'styles/theme';

html,
body {
  margin: 0;
  height: 100%;
}

:root {
  --gilded-title-font-size: 1.5rem;
  --gilded-title-font-weight: 500;
  --gilded-helper-font-size: 0.875rem;
  --gilded-status-icon-size: 48px;
}
