.shell-container {
  position: absolute;
  inset: 0;
}

mat-sidenav {
  width: 240px;
}

main {
  padding: 1rem;
  box-sizing: border-box;
}

.appointment-banner {
  margin: 8px 16px;
  background: var(--mat-sys-secondary-container);

  mat-card-content {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
